/****** Overall *****/

/*******************/





/**** TOP Nav Timer ****/


  #countdown {
  width: 40%;
  }

label {
  clear: both;
  display: block;
  color: white;
}

#countdown span {
  background: #343a40;
  color: #FFF;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  width: 15%;
  display: block;
  float: left;
}
#countdown span:last-child {
  border-right: 1px solid #313233;
}
/***********************/


/*****Footer*******/





@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');
  body{
  	padding: 0;
  	margin:0;
  	overflow-x: hidden;
  }
  h3{
  	font-size: 32px;
  	font-weight: 700;
  }
  	.customcolor{
  		background:  #2A3E70;
  		background: -webkit-linear-gradient(top,  #2A3E70, #474D54);
  		background: linear-gradient(to bottom,  #2A3E70, #474D54);
  		padding-top: 60px;
  		padding-bottom: 30px;
  		color: #fff;
  		font-family: 'Raleway', sans-serif;

  	}
  	.customcolor .col-md-3:nth-child(1) .fa{
  		padding-right: 25px;
  	}
  	.customcolor .col-md-3:nth-child(2) .fa,.customcolor .col-md-3:nth-child(3) .fa{
  		padding-right: 10px;
  	}
  	.customcolor ul {
  		list-style-type: none;
  		padding: 20px 10px;
  		margin: 0;
  		/*padding-top: 20px;
  		padding-left: 10px;*/
  	}
  	.customcolor ul li{
  		padding-top: 5px;
  	}
  	.customcolor a{
  		text-decoration: none;
  		color: #fff;
  	}
  	.customcolor a:hover{
  		color:#D35400;
  	}
  	.customcolor span{
  		font-size: 45px;
  		text-transform: uppercase;
  	}
  	.form-control{
  		height: 45px;
  		border-radius: 2px;
  		color: #ddd;
  		margin-bottom: 20px;
  	}
  	.btn-custom{
  		background: #D35400;
  		color: #fff;
  		padding: 10px 23px 10px 23px;
  	}
  	.btn-custom:hover{
  		background:#6E2C00; 
  		color:#fff;
  	
  		transition: .3s;

  	}
  	.bottom{
  		    background: #343a40;
  		    color: orange;
  		    font-weight: bold;
  		    padding-top: 20px;

  	}
  	.bottom ul{
  		list-style-type: none;
  		display: inline-flex;
  	
  	}
  	.bottom ul li{
  		padding-right: 30px;
  		text-align: right;
  	}
  	.bottom a{
  		text-decoration: none;
  		color: #ddd;
  	}
  	.icon .fa{
  		font-size: 30px;
  		cursor: pointer;
  	}
  	.icon .fa:hover{
  		color: #D35400;
  	}
  	@media(max-width: 768px){
  		h3{
  			padding-top: 30px;
  		}
  		.bottom{
  			text-align: center;
  		}
  		.bottom .pull-right{
  			float: right;
  			text-align: center;
  			padding-top: 20px;
  		}
  	}
  	@media(max-width: 450px){
  		.customcolor{
  			text-align: center;
  		}
  		.customcolor .col-md-3:nth-child(1) .fa{
  			padding-right: 15px;
  			text-align: center;
  		}
  		.customcolor .pl-4{
  			padding-left: 0 !important;
  		}
  		.customcolor .pr-4{
  			padding-right: 0 !important;
  		}
  	}

 /*********************************/